.top3{
    padding-top: 80px;
   height:630px;
   opacity:0.9;
   background-color: #ccc;
   
  }
  .registration-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(255, 205, 111);
    border: 3px solid #0b0b0b;
    border-radius: 5px;
    padding-right: 30px;
  }
  
  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type='text'],
  input[type='email'],
  input[type='password'] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
  }
  
  .error-message {
    color: #ff0000;
    font-size: 14px;
  }
  
  #rb1 {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: rgb(138, 135, 130);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  #rb1:hover{
    background-color: #302e2e;
  }